{% extends "base.html" %}

{% load static %}

{% block title %}Create New User{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="text-primary my-5">Join The Debate!</h1>
</div>



{% endblock %}





<!-- **************************************** sandbox **************************************-->

<!--<div class="admin_panel" id="user-form">-->
<!--    <form name="signupForm" method="POST" action="">-->
<!--        <div>-->
<!--            {% csrf_token %}-->
<!--        </div>-->
<!--        <div class="fromBtn_container">-->
<!--            <a href="{% url 'createUser' %}"><button type="button" class="btn">Create New User</button></a>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->






<!-- the following was used to edit items already in a db-->

<!--        <div class="frmBtn_container">-->
<!--            <ul>-->
<!--                <li><a href="../{{form.pk }}delete/"></a>DELETE</li>-->
<!--                <li><a href="{ url 'join' }"></a>CANCEL</li>-->
<!--            </ul>-->
<!--        </div>-->