{% include 'base.html' %}
{% load static %}
<div class="text-center">
    <h1 class="text-primary my-5">Home</h1>
</div>

<!-- i want to move this up to that top of the box is parallel to the other two boxes.
I also need to make sure that it adjusts to the screen its being viewed on-->
<div class="center-card">
    <div class="card border-primary mb-3 position-absolute top-50 start-50 translate-middle" style="width: 40rem;"> <!--come back to this class.make it opaque-->
      <div class="card-body">
        <h5 class="card-title">The Rules</h5>
        <p class="card-text">
            The rules are simple. Once you are signed up, choose your battle; Bacon vs Sausage, Chips Ahoy vs Oreo, etc.
            Then choose your side. Read the description of the item you will be arguing for. The description must be the
            base of your argument. For example, if you are defending vanilla ice cream, you can't use "you can add mint
            and chocolate chips to it." as an argument because you are changing the item itself. <i>Don't over-think it!</i>
            This is meant to be <strong>fun!</strong> That being said, leave it to your opponent and voters to decide if
            your argument is venturing too far away from the actual item being defended.
        </p>
      </div>
    </div>
</div>
